@use "src/styles/libs" as *;

.option_tag_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option_tag {
  width: fit-content;
  @include font-size;
  @include font-weight;
  font-size: $SMALL;
  font-weight: 400;
}

.dropdown {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  padding: 10px 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &_close_btn {
    width: fit-content;
    height: fit-content;
    padding: 0;
    box-shadow: none;
    align-self: flex-end;
  }
}

.closing {
  @include fade-out(0.5s);
}
.closed {
  display: none;
}
.opening {
  @include fade-in(0.5s);
}
