@use "src/styles/libs" as *;

.options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 3px;
  list-style: none;
  background-color: $BLUISH-GRAY-50;
  border: 1px $BLUE-400 solid;
  border-radius: 3px;

  &_list {
    @include font-size;
    @include font-weight;

    width: 100%;
    height: 30px;
    background-color: $BLUISH-GRAY-50;
    border-radius: 3px;

    &:hover {
      background-color: $BLUE-100;
      border: none;
    }
  }
}

.closing {
  @include fade-out(0.3s);
}
.closed {
  display: none;
}
.opening {
  @include fade-in(0.5s);
}
