@use "src/styles/libs" as *;
.options {
  width: 100%;
  padding: 5px;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px $BLUISH-GRAY-300, 0 4px 16px $BLUISH-GRAY-100;

  &_list {
    @include font-size;
    @include font-weight;

    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    &:hover {
      background-color: $BLUISH-GRAY-100;
    }
  }
}

.closing {
  @include fade-out(0.3s);
}
.closed {
  display: none;
}
.opening {
  @include fade-in(0.5s);
}
