@use "src/styles/libs" as *;

.time-board {
  display: flex;
  gap: 3px;
  justify-content: center;
  width: 240px;
  height: 245px;
  padding: 3px;
  list-style: none;
  background-color: $BLUISH-GRAY-100;
  border: 1px $BLUE-400 solid;
  border-radius: 3px;

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    overflow-y: auto;
  }

  &_button {
    width: 90px;
  }
}
