.checkbox_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.checkbox {
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.checkbox_label {
  margin: 0;
}
.required {
  margin-left: 5px;
  font-size: 1.2rem;
  color: red;
}
