@import "../../../styles/libs";

.toast {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  padding: 10px 16px;
  font-size: $SMALL;
  font-weight: 500;
  color: $BLUISH-GRAY-700;
  background-color: $WHITE;
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  > .toast-contents-wrap {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &:hover {
    cursor: grabbing;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  }

  &.invisible {
    visibility: hidden;
  }

  &.float-direction-from-top {
    &.opened {
      @include fade-in-top(0.3s);
    }

    &.closing {
      @include fade-out-top(0.8s);
    }
  }

  &.float-direction-from-bottom {
    &.opened {
      @include fade-in-bottom(0.3s);
    }

    &.closing {
      @include fade-out-bottom(0.8s);
    }
  }
}

.toast-wrap {
  max-height: 0;
  margin: 0;
  overflow: visible;
  transition: max-height 0.5s, margin 0.5s;

  &.has-space {
    max-height: 140px;
    margin: 10px 0;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
