@use "src/styles/libs" as *;

.modal {
  position: relative;
  @include priority-focus-layer;
  border-radius: 10px;
  border: 1px $GRAY-500 solid;
  padding: 10px;
  width: fit-content;
  background-color: white;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    font-size: $LARGE;
  }

  &_body {
    overflow: auto;
    padding: 10px;
  }

  &.small {
    .modal_header {
      width: 300px;
      height: 50px;
      font-size: $MEDIUM;
    }
    .modal_body {
      width: 300px;
      height: 100px;
      font-size: $NORMAL;
    }
  }
  &.medium {
    .modal_header {
      width: 500px;
      height: 50px;
      font-size: $LARGE;
    }
    .modal_body {
      width: 500px;
      height: 200px;
      font-size: $MEDIUM;
    }
  }
  &.large {
    .modal_header {
      width: 700px;
      height: 50px;
      font-size: $LARGE2X;
    }
    .modal_body {
      width: 700px;
      height: 300px;
      font-size: $LARGE;
    }
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 10px;
    margin-top: 10px;
    &_button {
      @include font-size;
      @include font-weight;
    }
  }
}
