@use "src/styles/libs" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: fit-content;
  padding: 10px;
  background-color: white;
  border: 1px $GRAY-500 solid;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  @include priority-focus-layer;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &.smal {
      width: 300px;
      height: 50px;
      font-size: $MEDIUM;
    }
    &.medium {
      width: 500px;
      height: 50px;
      font-size: $LARGE;
    }
    &.large {
      width: 700px;
      height: 50px;
      font-size: $LARGE2X;
    }
    &_btn {
      padding: 0;
      box-shadow: none;
      &:hover {
        background-color: $BLUISH-GRAY-10;
      }
      &:active {
        background-color: $BLUISH-GRAY-100;
      }
    }
  }

  &_body {
    padding: 10px;
    overflow: auto;
    &.small {
      width: 300px;
      height: 100px;
      font-size: $NORMAL;
    }
    &.medium {
      width: 500px;
      height: 200px;
      font-size: $MEDIUM;
    }
    &.large {
      width: 700px;
      height: 300px;
      font-size: $LARGE;
    }
  }

  &_footer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;

    &_btn {
      box-shadow: 0 4px 10px $BLUISH-GRAY-100, 0 4px 16px $BLUISH-GRAY-10;

      &:hover {
        background-color: $BLUISH-GRAY-10;
      }
      &:active {
        background-color: $BLUISH-GRAY-100;
      }
    }
  }
}
