@use "src/styles/libs" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  @include priority-background-layer;
  @include flex-column-centerize;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@layer default {
  .backdrop {
    position: relative;
    display: inline-block;

    width: fit-content;
    height: fit-content;
  }
}

.stop-bubbling {
  width: fit-content;
  height: fit-content;
}

.transperant {
  background-color: transparent;
}
.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}
.shadow {
  background: rgba(0, 0, 0, 0.1);
}

.opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
.closed {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
