@use "src/styles/libs" as *;

.label {
  display: block;
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: $SMALL;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  color: $BLUISH-GRAY-800;
  text-align: left;
  letter-spacing: 0.5px;
  cursor: pointer;

  &.error {
    color: $PEACH-600;
  }
}
