@use "src/styles/libs" as *;
.toast_wrapper {
  position: fixed;

  left: 50%;
  transform: translateX(-50%);

  width: fit-content;

  z-index: 9999;

  &.from-bottom {
    bottom: 20px;
  }
  *.from-top {
    top: 20px;
  }
}
