@forward 'reset';

@use 'libs' as libs;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  color: libs.$BLUISH-GRAY-800;
  font-family: 'Pretendard Variable', Pretendard, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 16px;
}
