@use "src/styles/libs" as *;
.toast_wrapper {
  position: fixed;
  left: 50%;
  z-index: 9999;
  width: fit-content;
  transform: translateX(-50%);

  &.from-bottom {
    bottom: 20px;
  }
  &.from-top {
    top: 20px;
  }
}
