@use "src/styles/libs" as *;

.input {
  @include font-size;
  @include font-weight;

  display: block;
  width: 200px;
  height: 30px;
  padding: 5px 10px;
  color: $BLUISH-GRAY-600;
  border: 1px $BLUISH-GRAY-400 solid;
  border-radius: 3px;

  &::placeholder {
    color: $BLUISH-GRAY-400;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $BLUE-400;
  }

  &:focus {
    color: $BLUISH-GRAY-700;
    background-color: $BLUISH-GRAY-10;
    border-color: $BLUE-400;
    outline: $BLUE-400;
    &::placeholder {
      color: $BLUISH-GRAY-600;
    }
  }

  &.error-border {
    border-color: $PEACH-600;
    outline-color: $PEACH-600;
  }
}

.validation-error {
  margin-left: 2px;
  color: $PEACH-600;
}
