@use "src/styles/libs" as *;

.card {
  display: flex;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
  }

  align-items: center;
  background-color: $WHITE;
  border-radius: 20px;

  color: $GRAY-600;
  background-color: $WHITE;

  img {
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }

  &_content {
    display: flex;
    flex-direction: column;

    &-title {
      @include font-size;
      font-size: $NORMAL;
      padding: 10px;
    }

    &-description {
      max-height: 80px;
      padding: 10px 10px 0;
      margin-bottom: 10px;
      font-size: $SMALL;
      @include multi-line-ellipse(3);
    }
  }

  &_box-shadow {
    box-shadow: 5px 5px 5px 5px gray;
  }
}
