@use "src/styles/libs" as *;

.card {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  color: $GRAY-600;
  cursor: pointer;
  background-color: $WHITE;
  background-color: $WHITE;
  border-radius: 20px;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
  }

  img {
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 508px;
    padding: 10px;
    &-title {
      @include font-size;
      @include multi-line-ellipse(1);

      margin: 0;
      font-size: $NORMAL;
    }

    &-description {
      max-height: 80px;
      font-size: $SMALL;
      @include multi-line-ellipse(1);
    }

    &-tagbox {
      display: flex;
      gap: 10px;
      font-size: $SMALL;

      & > &-createdAt {
        padding: 3px;
        vertical-align: middle;
      }
      & > &-tag {
        padding: 3px 6px;
        background-color: $GRAY-200;
        border-radius: 6px;
        &:hover {
          color: $GRAY-500;
        }

        & > a {
          color: $BLACK;
          text-decoration: none;
        }
      }
    }
  }

  &_box-shadow {
    box-shadow: 5px 5px 5px 5px gray;
  }
}
