@use "src/styles/libs" as *;

.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  border-radius: 10px;
  display: inline-block;
  line-height: 1;

  color: #333;
  background-color: transparent;

  box-shadow: 0 4px 10px $BLUISH-GRAY-300, 0 4px 16px $BLUISH-GRAY-100;

  @include font-size;
  @include font-weight;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &--no_border {
    box-shadow: none;
  }

  &--small {
    font-size: $SMALL;
    padding: 10px 16px;
    height: 35px;
    width: 80px;
  }
  &--normal {
    font-size: $NORMAL;
    padding: 11px 20px;
    min-height: 35px;
    min-width: 110px;
  }
  &--large {
    font-size: $LARGE;
    padding: 12px 24px;
    min-width: 200px;
    min-height: 50px;
  }

  &.loading {
    cursor: not-allowed;
    background-color: $BLUISH-GRAY-50;
    .loading_spinner {
      width: 18px;
      height: 18px;
      border: 2px solid #fff;
      border-bottom-color: $BLUISH-GRAY-300;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
