@use "src/styles/libs" as *;

.button {
  display: inline-block;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #333;
  color: $GRAY-600;
  background-color: $BLUISH-GRAY-100;
  border: 0;
  border-radius: 3px;

  @include font-size;
  @include font-weight;

  &:hover {
    color: $GRAY-700;
    background-color: $BLUISH-GRAY-50;
  }

  &:focus {
    border-color: $BLUE-400;
  }

  &--disabled {
    color: $GRAY-300;
    cursor: not-allowed;
    background-color: $BLUISH-GRAY-50;
    &:hover {
      color: $GRAY-300;
      background-color: $BLUISH-GRAY-50;
      border: none;
    }
  }

  &--no_border {
    border: none;
    box-shadow: none;
  }

  &--small {
    height: 25px;
    padding: 2px 10px;
    font-size: $SMALL;
  }
  &--normal {
    height: 40px;
    padding: 4px 16px;
    font-size: $NORMAL;
  }
  &--large {
    height: 50px;
    padding: 6px 20px;
    font-size: $LARGE;
  }

  &.loading {
    cursor: not-allowed;
    background-color: $BLUISH-GRAY-50;
    .loading_spinner {
      box-sizing: border-box;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 2px solid #fff;
      border-bottom-color: $BLUISH-GRAY-300;
      border-radius: 50%;

      @include spinner-rotation;
    }
  }
}
