@use "src/styles/libs" as *;

.sub_category_wrapper {
  position: relative;
  li {
    margin-bottom: 10px;
    a {
      color: #000;

      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    list-style-type: none;

    &::before {
      content: "";

      bottom: 2px;

      position: absolute;
      left: -20px;
      border-left: 2px solid $GRAY-300;

      height: 100%;
    }
  }
}

.new {
  color: red;
  font-weight: bold;
  font-size: $SMALL2X;
  margin-left: 5px;
}
