@use "src/styles/libs" as *;

.sub_category_wrapper {
  border-left: 1px gray solid;
  padding-left: 10px;
  position: relative;
  li {
    margin-bottom: 10px;
    a {
      color: #000;

      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    list-style-type: none;
  }
}

.new {
  color: red;
  font-weight: bold;
  font-size: $SMALL2X;
  margin-left: 5px;
}
