@use "src/styles/libs" as *;

.sub_category_wrapper {
  position: relative;
  padding-left: 10px;
  border-left: 1px gray solid;
  li {
    margin-bottom: 10px;
    list-style-type: none;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.new {
  margin-left: 5px;
  font-size: $SMALL2X;
  font-weight: bold;
  color: red;
}
