@use "src/styles/libs" as *;
.dropdown_wrapper {
  min-height: 10px;
}
.dropdown {
  width: fit-content;
  margin: 10px 0;
  list-style: none;
  background-color: white;
  border-radius: 3px;
}

.closing {
  @include fade-out(0.3s);
}
.closed {
  display: none;
}
.open {
  @include fade-in(0.5s);
}
