@use "src/styles/libs" as *;

.selectbox_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.selectbox_options {
  width: 100%;
}

.dropdown {
  position: absolute;
  width: 100%;

  &.small.downward {
    top: 25px;
  }

  &.small.upward {
    top: unset;
    bottom: 25px;
  }

  &.normal.downward {
    top: 30px;
  }

  &.normal.upward {
    top: unset;
    bottom: 30px;
  }

  &.large.downward {
    top: 40px;
  }

  &.large.upward {
    top: unset;
    bottom: 40px;
  }
}

.selectbox_button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px $BLUISH-GRAY-400 solid;

  @include font-size;
  @include font-weight;

  &_name {
    width: 100%;
    text-align: center;
  }
  &.small {
    width: 120px;
    height: 30px;
  }
  &.normal {
    width: 160px;
    height: 35px;
  }
  &.large {
    width: 200px;
    height: 40px;
  }
  &:hover {
    background-color: $BLUISH-GRAY-10;
  }
  &:focus {
    background-color: $BLUISH-GRAY-100;
    outline: none;
  }
  &.open {
    border: 1px solid $BLUE-400;
  }
}
