@use "src/styles/libs" as *;

.selectbox_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.selectbox_options {
  width: 100%;
}

.downward {
  position: absolute;
  top: 25px;
  width: 100%;
}
.upward {
  position: absolute;
  top: unset;
  bottom: 25px;
  width: 100%;
}

.selectbox_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  border: 1px $BLUISH-GRAY-400 solid;

  @include font-size;
  @include font-weight;

  &_name {
    width: 100%;
    text-align: center;
  }
  &.small {
    width: 120px;
    height: 30px;
  }
  &.normal {
    width: 160px;
    height: 35px;
  }
  &.large {
    width: 200px;
    height: 40px;
  }
  &:hover {
    background-color: $BLUISH-GRAY-10;
  }
  &:focus {
    background-color: $BLUISH-GRAY-100;
    outline: none;
  }
  &.open {
    border: 1px solid $BLUE-400;
  }
}
