@use "src/styles/libs" as *;

.dropdown_tag_wrapper {
  width: fit-content;
  position: relative;
}

.dropdown_tag {
  width: fit-content;
  @include font-size;
  @include font-weight;

  font-size: $SMALL;
  font-weight: 400;
}

.dropdown_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100%;
  width: fit-content;
  color: $GRAY-600;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: $BLUISH-GRAY-100;
}

.dropdown_close_btn {
  align-self: flex-end;
  width: fit-content;
  height: fit-content;
  padding: 0;
  box-shadow: none;
  background-color: $BLUISH-GRAY-100;
}
