@use "src/styles/libs" as *;

tr,
th,
td {
  height: 50px;
  padding: 10px;
  border-top: 1px $BLUE-100 solid;
  border-bottom: 1px $BLUE-100 solid;
}

thead > tr {
  border-top: none;
}
thead > tr > th {
  border-top: none;
  &:hover {
    background-color: $BLUE-100;
  }
}

tbody > tr {
  &:hover {
    background-color: $BLUE-50;
  }
}

td {
  position: relative;
}
