@use "src/styles/libs" as *;

.sidebar {
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.link_to_posts {
  a {
    color: $BLACK;
    font-weight: 600;
    font-size: $LARGE;
  }
}
