@use "src/styles/libs" as *;

.link_to_posts {
  & > a {
    font-size: $LARGE;
    font-weight: 600;
    color: $BLACK;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 230px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
