@use "src/styles/libs" as *;

.input {
  display: block;
  width: 200px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px $BLUISH-GRAY-400 solid;
  border-radius: 10px;

  &::placeholder {
    color: $BLUISH-GRAY-400;
  }
  &:hover {
    cursor: pointer;
    border: 2px solid $BLUE-400;
  }
  &:focus {
    outline-color: $BLUE-500;
  }

  &.error-border {
    border-color: $PEACH-600;
    outline-color: $PEACH-600;
  }
}
.validation-error {
  margin-left: 2px;
  color: $PEACH-600;
}
