@use "src/styles/libs" as *;

.react-calendar {
  width: 350px;
  max-width: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  background: #ffff;
  border: 1px solid #eee;
  box-shadow: 0 0 20px #e0e0e0;

  &__title {
    &--now {
      color: #fafafa;
      background: $PURPLE-300;
      &:enabled:hover,
      &:enabled:focus {
        color: #fafafa;
        background: $PURPLE-300;
      }
    }

    &--active {
      color: white;
      background: $BLUE-400;
      &:enabled:hover,
      &:enabled:focus {
        background: $BLUE-400;
      }
    }
  }
}
