@use "src/styles/libs" as *;

.react-calendar {
  width: 350px;
  max-width: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  background: #ffff;
  border: 1px solid #eee;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  &__tile {
    border-radius: 10px;
    &:hover {
      background: $PURPLE-300;
    }
    &--now {
      // 현재 날짜
      background: $BLUE-200;
      &:enabled:hover {
        background: $BLUE-300;
      }
    }
    &--active {
      // 선택된 날짜
      background: $BLUE-600;
    }
  }
  &__title {
    &--now {
      color: #fafafa;
      background: $PURPLE-300;
      &:enabled:hover,
      &:enabled:focus {
        color: #fafafa;
        background: $PURPLE-300;
      }
    }

    &--active {
      color: white;
      background: $BLUE-600;
      &:enabled:hover,
      &:enabled:focus {
        background: $BLUE-600;
      }
    }
  }
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: transparent;
  text-decoration: underline;
}
